<!--
  Generated template for the AppliesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>兼职报名</ion-title>
  </ion-navbar>
  <div class="filter-bar-wrap">
    <filter-bars [filterItems]="filterItems" (onSelectFilterItem)="selectedFilterItem($event);"></filter-bars>
  </div>
</ion-header>

<ion-content>
  <div class="empty-error-box" *ngIf="!!error">{{error}}</div>
  <div class="applies">
    <virtual-scroller #scroll [items]="applies" [childHeight]="280">
      <div class="total-box" *ngIf="applies.length > 0">共 {{applies.length}} 人</div>
      <ion-card *ngFor="let item of scroll.viewPortItems">
        <div class="base-info">
          <div class="main"><span class="name">{{item.user.name}}</span>
            <span class="mobile">{{item.user.mobile}}</span>
            <span class="idcard" *ngIf="!!item.user.idcard">{{item.user.idcard}}</span>
          </div>
          <div class="other">
            <ion-badge>{{item.user.sex}}</ion-badge>
            <ion-badge>{{item.user.age}}岁</ion-badge>
            <ion-badge *ngIf="!!item.user.college">{{item.user.college}}</ion-badge>
            <ion-badge *ngIf="!!item.user.specialty">{{item.user.specialty}}</ion-badge>
          </div>
        </div>
        <div class="job">
          <ion-item>
            <p text-wrap>「{{item.job.project_name}}」{{item.job.name}}</p>
            <p class="agent-info" *ngIf="item.from_agent">来源渠道：{{item.from_agent}}</p>
            <p class="time-wrap">
              上班时间: {{item.work_time_range}}<br>
              报名时间: {{item.apply_time}}<br>
              签到时间: {{item.checkin_time || '--'}}<br>
              签退时间: {{item.checkout_time || '--'}}<br>
              工作时长: {{item.work_length || '--'}}
            </p>
            <ion-badge color="{{colorBy(item)}}" item-right>{{item.state_name}}</ion-badge>
          </ion-item>
        </div>
        <ion-item class="comp-info">
          <ion-avatar item-start>
            <img [src]="item.job.comp_logo || 'assets/imgs/default_avatar.png'">
          </ion-avatar>
          <h2 text-wrap>{{item.job.comp_alias_name}}</h2>
          <p text-wrap>{{item.job.comp_name}}</p>
          <ion-note item-right>
            <button ion-button small (click)="handleApprove(item,false);" *ngIf="item.can_reject"
              color="danger">拒绝</button>
            <button ion-button small (click)="handleApprove(item,true);" *ngIf="item.can_approve">通过</button>
          </ion-note>
        </ion-item>
      </ion-card>
      <!-- <div class="apply-user" *ngFor="let item of scroll.viewPortItems"> -->
      <!-- <ion-item>
          <div class="main-content" [class.has-checkbox]="checkState == '0' || checkState == '1'">
            <span class="custom-checkbox" [class.has-selected]="hasSelectAll || item.cb_selected" tappable
              (click)="selectItem(item);" *ngIf="checkState == '0' || checkState == '1'">
              <ion-icon
                name="{{(hasSelectAll || item.cb_selected) ? 'md-checkmark-circle' : 'ios-radio-button-off-outline'}}">
              </ion-icon>
            </span>
            <apply-info [item]="item"></apply-info>
          </div>
        </ion-item> -->
      <!-- </div> -->
    </virtual-scroller>
  </div>
</ion-content>